/***
 * 添加省略号
 * @param {string}-text String 目标文本
 * @param {string}-maxlen NUmber 允许最大长度
 * @return {string} - text 经过省略处理的文本
 */
var ellipsis = function (text,maxlen) {
  if (text.length > maxlen)
    return text.substring(0, maxlen) + "..."
  else
    return text
}

var moredate = function(date){
  debugger
   if(typeof date!='string')
    return ""
  else
  {
     var d = date.split('-');
     console.log(date);
     return 'asdfasdf'
  }
}

/**
 * 计算距离，大于100 则省略显示
 * @param {Number} - dis 距离
 */
var dis = function(dis){
  if(typeof +dis == 'number')
  {
    if(dis>10000)
      return  dis = ">100"
    else
      return dis
  }
}
module.exports  = {
  ellipsis: ellipsis,
  moredate: moredate,
  dis: dis
};
