/***
 * 添加省略号
 * @param {string}-text String 目标文本
 * @param {string}-maxlen NUmber 允许最大长度
 * @return {string} - text 经过省略处理的文本
 */
var ellipsis = function (text,maxlen) {
  if (text.length > 40)
    return text.substring(0, 40) + "..."
  else
    return text
}

var moredate = function(date){
  debugger
   if(typeof date!='string')
    return ""
  else
  {
     var d = date.split('-');
     console.log(date);
     return 'asdfasdf'
  }
}
module.exports  = {
  ellipsis: ellipsis,
  moredate: moredate
};
